.site-footer {
  padding-bottom: 120px;
  color: red !important;
  background: blue !important;
}
.site-header {
  border-top: none;
  border-bottom: 1px solid $border-color-01;
  background: blue !important;

}
